SensorTagを活用したモノのインターネットの開発.json
[{"id":"c342b3b328f42d69","type":"tab","label":"フロー 1","disabled":false,"info":"","env":[]},{"id":"a6ae6cfc2fa1851a","type":"debug","z":"c342b3b328f42d69","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":20,"wires":[]},{"id":"01e4a6721f089f68","type":"change","z":"c342b3b328f42d69","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.acc_x","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":80,"wires":[["2a6e27403b9e229a","8008faf5e3d7c9e8","d6f4483148de9bd3","a6ae6cfc2fa1851a"]]},{"id":"2a6e27403b9e229a","type":"ui_text","z":"c342b3b328f42d69","group":"d46c73af9fc67c05","order":0,"width":0,"height":0,"name":"","label":"X軸加速度","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":610,"y":60,"wires":[]},{"id":"8008faf5e3d7c9e8","type":"ui_gauge","z":"c342b3b328f42d69","name":"","group":"d46c73af9fc67c05","order":1,"width":0,"height":0,"gtype":"gage","title":"X軸加速度","label":"G","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":610,"y":100,"wires":[]},{"id":"d6f4483148de9bd3","type":"ui_chart","z":"c342b3b328f42d69","name":"","group":"d46c73af9fc67c05","order":2,"width":0,"height":0,"label":"X軸加速度","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":610,"y":140,"wires":[[]]},{"id":"e7fafa4195939c77","type":"change","z":"c342b3b328f42d69","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.acc_y","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":220,"wires":[["d9792d9e0211a75b","e2e30a003e39ea23","1b171f499d31f9bf"]]},{"id":"d9792d9e0211a75b","type":"ui_text","z":"c342b3b328f42d69","group":"dd0e10271256250f","order":0,"width":0,"height":0,"name":"","label":"Y軸加速度","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":610,"y":180,"wires":[]},{"id":"e2e30a003e39ea23","type":"ui_gauge","z":"c342b3b328f42d69","name":"","group":"dd0e10271256250f","order":1,"width":0,"height":0,"gtype":"gage","title":"Y軸加速度","label":"G","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":610,"y":220,"wires":[]},{"id":"1b171f499d31f9bf","type":"ui_chart","z":"c342b3b328f42d69","name":"","group":"dd0e10271256250f","order":2,"width":0,"height":0,"label":"Y軸加速度","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":610,"y":260,"wires":[[]]},{"id":"81572f6df4deb7cd","type":"http in","z":"c342b3b328f42d69","name":"sensortag","url":"/sensor","method":"post","upload":false,"swaggerDoc":"","x":60,"y":260,"wires":[["093043667b33ab7a","da9e6a4e36cec271","d39cff262fb9e36d"]]},{"id":"093043667b33ab7a","type":"http response","z":"c342b3b328f42d69","name":"","statusCode":"","headers":{},"x":210,"y":260,"wires":[]},{"id":"da9e6a4e36cec271","type":"delay","z":"c342b3b328f42d69","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":230,"y":220,"wires":[["01e4a6721f089f68","e7fafa4195939c77","b55a5f832f53a014"]]},{"id":"d39cff262fb9e36d","type":"debug","z":"c342b3b328f42d69","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":230,"y":300,"wires":[]},{"id":"b55a5f832f53a014","type":"change","z":"c342b3b328f42d69","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.acc_z","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":340,"wires":[["076ce95da42404bd","1ff21d17be4a8f89","26a0ec803f1e3f36"]]},{"id":"076ce95da42404bd","type":"ui_text","z":"c342b3b328f42d69","group":"493a5ffbedd13a6c","order":0,"width":0,"height":0,"name":"","label":"Z軸加速度","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":610,"y":300,"wires":[]},{"id":"1ff21d17be4a8f89","type":"ui_gauge","z":"c342b3b328f42d69","name":"","group":"493a5ffbedd13a6c","order":1,"width":0,"height":0,"gtype":"gage","title":"Z軸加速度","label":"G","format":"{{value}}","min":"-2","max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":610,"y":340,"wires":[]},{"id":"26a0ec803f1e3f36","type":"ui_chart","z":"c342b3b328f42d69","name":"","group":"493a5ffbedd13a6c","order":2,"width":0,"height":0,"label":"Z軸加速度","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":610,"y":380,"wires":[[]]},{"id":"d46c73af9fc67c05","type":"ui_group","name":"X軸加速度","tab":"137ed707140b509b","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"dd0e10271256250f","type":"ui_group","name":"Y軸加速度","tab":"137ed707140b509b","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"493a5ffbedd13a6c","type":"ui_group","name":"Z軸加速度","tab":"137ed707140b509b","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"137ed707140b509b","type":"ui_tab","name":"センサデバイス","icon":"dashboard","disabled":false,"hidden":false}]