センサデバイスの計測値をインターネットで可視化体験.json
[{"id":"c342b3b328f42d69","type":"tab","label":"フロー 1","disabled":false,"info":"","env":[]},{"id":"171484462e2e075a","type":"inject","z":"c342b3b328f42d69","name":"センサデバイス","props":[{"p":"payload.name","v":"abcd","vt":"str"},{"p":"payload.ambient_temp","v":"25","vt":"num"},{"p":"payload.humidity","v":"60","vt":"num"},{"p":"payload.light","v":"400","vt":"num"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":80,"wires":[["d85ede788f540bbd","8b48be498af05e79","71852cf796e992cf"]]},{"id":"d85ede788f540bbd","type":"debug","z":"c342b3b328f42d69","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":320,"y":80,"wires":[]},{"id":"71852cf796e992cf","type":"change","z":"c342b3b328f42d69","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ambient_temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":120,"wires":[["e1665345206e1dd4","30c7db80ebd621c4","a53b5628b5d44f9f"]]},{"id":"e1665345206e1dd4","type":"ui_text","z":"c342b3b328f42d69","group":"d46c73af9fc67c05","order":0,"width":0,"height":0,"name":"","label":"気温","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":510,"y":80,"wires":[]},{"id":"30c7db80ebd621c4","type":"ui_gauge","z":"c342b3b328f42d69","name":"","group":"d46c73af9fc67c05","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":"-10","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":510,"y":120,"wires":[]},{"id":"a53b5628b5d44f9f","type":"ui_chart","z":"c342b3b328f42d69","name":"","group":"d46c73af9fc67c05","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":510,"y":160,"wires":[[]]},{"id":"8b48be498af05e79","type":"change","z":"c342b3b328f42d69","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":240,"wires":[["9c172abefa52cde5","fa4d587660ffc6e1","6a1a14e80c883b5e"]]},{"id":"9c172abefa52cde5","type":"ui_text","z":"c342b3b328f42d69","group":"dd0e10271256250f","order":0,"width":0,"height":0,"name":"","label":"湿度","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":510,"y":200,"wires":[]},{"id":"fa4d587660ffc6e1","type":"ui_gauge","z":"c342b3b328f42d69","name":"","group":"dd0e10271256250f","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":510,"y":240,"wires":[]},{"id":"6a1a14e80c883b5e","type":"ui_chart","z":"c342b3b328f42d69","name":"","group":"dd0e10271256250f","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":510,"y":280,"wires":[[]]},{"id":"d46c73af9fc67c05","type":"ui_group","name":"気温","tab":"137ed707140b509b","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"dd0e10271256250f","type":"ui_group","name":"湿度","tab":"137ed707140b509b","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"137ed707140b509b","type":"ui_tab","name":"センサデバイス","icon":"dashboard","disabled":false,"hidden":false}]